<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App: NodeJS and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio necessitatibus laborum reiciendis tenetur accusamus mollitia.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt minus maxime tenetur explicabo facilis earum animi, velit aut aperiam? Ut!</p>
  <a href="https://google.com" class="btn btn-primary">Estebandido</a>
</div>